
# To learn about configuring soupault, visit https://www.soupault.net/reference-manual

[settings]
  # Soupault version that the config was written/generated for
  # Trying to process this config with an older version will result in an error message
  soupault_version = "5.0.0"

  # Display progress?
  verbose = true

  # Display detailed debug output?
  debug = false

  # Where input files (pages and assets) are stored.
  site_dir = "site"

  # Where the output goes
  build_dir = "build"

  # Files inside the site/ directory can be treated as pages or static assets,
  # depending on the extension.
  #
  # Files with extensions from this list are considered pages and processed.
  # All other files are copied to build/ unchanged.
  #
  # Note that for formats other than HTML, you need to specify an external program
  # for converting them to HTML (see below).
  page_file_extensions = ["htm", "html", "md"]

  # Extensions of files that will be processed with the built-in Markdown parser
  markdown_extensions = ["md"]

  # By default, soupault uses "clean URLs",
  # that is, $site_dir/page.html is converted to $build_dir/page/index.html
  # You can make it produce $build_dir/page.tml instead by changing this option to false
  clean_urls = true

  # If you set clean_urls=false,
  # file names with ".html" and ".htm" extensions are left unchanged.
  keep_extensions = ["html", "htm"]

  # All other extensions (".md", ".rst"...) are replaced, by default with ".html"
  default_extension = "html"

  # Page files with these extensions are ignored.
  ignore_extensions = ["draft"]

  # Soupault can work as a website generator or an HTML processor.
  #
  # In the "website generator" mode, it considers files in site/ page bodies
  # and inserts them into the empty page template stored in templates/main.html
  #
  # Setting this option to false switches it to the "HTML processor" mode
  # when it considers every file in site/ a complete page and only runs it through widgets/plugins.
  generator_mode = true

  # Files that contain an <html> element are considered complete pages rather than page bodies,
  # even in the "website generator" mode.
  # This allows you to use a unique layout for some pages and still have them processed by widgets.
  complete_page_selector = "html"

  # Website generator mode requires a page template (an empty page to insert a page body into).
  # If you use "generator_mode = false", this file is not required.
  default_template_file = "templates/main.html"

  # Page content is inserted into a certain element of the page template.
  # This option is a CSS selector that is used for locating that element.
  # By default the content is inserted into the <body>
  default_content_selector = "main"

  # You can choose where exactly to insert the content in its parent element.
  # The default is append_child, but there are more, including prepend_child and replace_content
  default_content_action = "append_child"

  # If a page already has a document type declaration, keep the declaration
  keep_doctype = true

  # If a page does not have a document type declaration, force it to HTML5
  # With keep_doctype=false, soupault will replace existing declarations with it too
  doctype = "<!DOCTYPE html>"

  # Insert whitespace into HTML for better readability
  # When set to false, the original whitespace (if any) will be preserved as is
  pretty_print_html = true

  # Plugins can be either automatically discovered or loaded explicitly.
  # By default discovery is enabled and the place where soupault is looking is the plugins/ subdirectory
  # in your project.
  # E.g., a file at plugins/my-plugin.lua will be registered as a widget named "my-plugin".
  plugin_discovery = true
  plugin_dirs = ["plugins"]

  # Soupault can cache outputs of external programs
  # (page preprocessors and preprocess_element widget commands).
  # It's disabled by default but you can enable it and configure the cache directory name/path
  caching = false
  cache_dir = ".soupault-cache"

  # Soupault supports a variety of page source character encodings,
  # the default encoding is UTF-8
  page_character_encoding = "utf-8"

# Pages can be further processed with "widgets"

# Takes the content of the first <h1> and inserts it into the <title>
[widgets.page-title]
  widget = "title"
  selector = "h1"
  default = "Lucy Tasker"
  append = " &mdash; Lucy Tasker"

  # Insert a <title> in a page if it doesn't have one already.
  # By default soupault assumes if it's missing, you don't want it.
  force = false

# Inserts a generator meta tag in the page <head>
# Just for demonstration, feel free to remove
[widgets.generator-meta]
  widget = "insert_html"
  html = '<meta name="generator" content="soupault">'
  selector = "head"

# Marks the link to the currently viewed page in the navigation menu
[widgets.highlight-active-link]
  widget = "section-link-highlight"
  selector = "nav"
  active_link_class = "nav-active"

# Converts virtual `<youtube id="..." title="..." border="...">` elements
# to actual YouTube embeds
#
# For example: <youtube title="Sintel">eRsGyueVLvQ</youtube>
# if you want to embed Blender Foundation's "Sintel" film
# (https://www.youtube.com/watch?v=eRsGyueVLvQ)
[widgets.youtube-embed]
  widget = "element_template"
  selector = "youtube"
  template = '''
    {# Enable iframe border by default, if not given #}
    {% if not border %}
      {% set border = 1 %}
    {% endif %}

    <h3>{{title}}</h3>
    <div class="youtube-video" style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
      <iframe src="https://www.youtube.com/embed/{{content}}"
        style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
        title="{{title}}"
        frameborder="{{border}}" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
      </iframe>
    </div>
  '''

[widgets.photo_gallery]
  page = "photos.md"
  widget = "gallery"
  selector = "div#gallery"
  gallery_dir = "gallery"
  target_dir = "photos"
  image_format = "webp"

[widgets.gig_dates]
  widget = "gigs"
  selector = "#gigs"

  data_file = "gigs.toml"
  key = "gigs"

  # Supported formats for event dates in the date file
  date_formats = ["%Y-%m-%d", "%d/%m/%Y"]

  # Date format for displaying events on the page
  date_display_format = "%Y-%m-%d"

  # Maximum number of past gigs to display
  past_events_limit = 20

  template = '''
{# This template gets two variables from the plugin: upcoming_gigs and past_gigs #}

{# Variables outside of namespaces are immutable,
   so we create a "state" namespace
   to use as a "scratch register".
 #}
{% set state = namespace(date="") %}

{% if upcoming_events %}
  <h2>Upcoming</h2>
  {% for gig in upcoming_events %}
    {% if gig.time %}
    {%   set state.date = gig.date + ", " +  gig.time %}
    {% else %}
    {%   set state.date = gig.date %}
    {% endif %}

    {# Most gigs have a venue #}
    {% if gig.venue %}
    <h3>{{state.date}} — {{gig.venue}} ({{gig.location}})</h2>
    {% else %}
    {# But some, like private events, may not have it,
       so we need to account for the case when it's missing. #}
    <h3>{{gig.location}}</h3>
    {% endif %}

    {% if gig.ticket_link %}
    <p><a href="{{gig.ticket_link}}">Book tickets</a></p>
    {% endif -%}
    <p>
    {{gig.description}}
    </p>
  {% endfor -%}
{% endif %}

{% if past_events %}
  <h2>Past</h2>

  {% for gig in past_events %}
    {% if gig.time %}
    {% set state.date = gig.date + ", " +  gig.time %}
    {% else %}
    {% set state.date = gig.date %}
    {% endif %}

    {# Time is useless for past gigs, so we only include the date in their titles #}
    {% if gig.venue %}
    <h3>{{gig.date}} — {{gig.venue}} ({{gig.location}})</h2>
    {% else %}
    <h3>{{gig.date}} — {{gig.location}}</h3>
    {% endif %}
  {% endfor %}
{% endif %}
'''
